body {
	font-family: sans-serif, monospace;
	color: #151721 ;
	padding: 0;
	margin: 0;
}

p {
	line-height: 1.4;
}

li {
	line-height: 1.5;
}


/*TITLE CARD*/
.title-card {
	background-color: #EAB932;
	padding: 20px;
	padding-left: 30px;
	box-shadow: 0 0 0 30px rgba(0, 0, 0, 1.0);
	text-align: center;
	white-space: nowrap;
	border-bottom: 6px black solid;
	border-top: 6px black solid;
}

.title-left {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	padding: 20px;
}

h1 {
	padding: 10px;
	text-decoration: underline;
}

.title-paragraph {
	margin: 30px;
}

.title-right {
	display: inline-block;
	margin-left: 80px;
	vertical-align: top;

}
/*end of TITLE CARD*/



/*MAIN BODY*/
.main-body {
	background-image: url(star_background.png);
	background-size: 100%;
	padding: 10px;
	padding-top: 30px;
	text-align: center;
	white-space: nowrap;
}

.general-container {
	text-align: center;
}

.general-box {
	display: inline-block;
	vertical-align: top;
	font-size: 15px;
	padding: 20px;
	margin: 10px;
	margin-left: 5px;
	background-color: #FEFAE1;
	border-radius: 8px;
}


.experience-container {
	display: inline-block;
	vertical-align: top;
	text-align: center;
}

h2 span {
	background-color: #B7DAA1;
	padding: 8px;
	border-radius: 6px;
}

.experience {
	padding: 20px;
	padding-bottom: 10px;
	margin: 30px;
	margin-bottom: 5px;
	background-color: #B7DAA1;
	border-radius: 8px;
	text-align: left;
}

.honors-activities-container {
	display: inline-block;
	vertical-align: middle;
	padding-top: 100px;
	padding-bottom: 60px;
}

.honors {
	padding: 30px;
	padding-top: 60px;
	padding-bottom: 60px;
	margin: 30px;
	background-color: #F18D96;
	border-radius: 8px;
}

.activities {
	padding: 30px;
	padding-top: 60px;
	padding-bottom: 60px;
	margin: 30px;
	background-color: #F1D78F;
	border-radius: 8px;
}

.go-to-top {
	display: inline-block;
	background: #EAB932;
	border: none;
	border-radius: 8px;
	padding: 16px;
	margin: 60px;
	font-weight: bold;
	text-decoration: none;
	color: black;
}


/*hover*/
.general-box:hover {
	font-style: italic;
	border: solid 4px #EAB932;
}

.experience:hover, .honors:hover, .activities:hover {
	font-style: italic;
	border: solid 4px #FEFAE1;
}



/*end of MAIN BODY*/
